html, body {
    color: #fff;
    background-color: #1f1d2c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 2.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.length {
    text-align: center;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 20px;
    border: none;
    border-radius: 17px;
    outline: none;
    padding: 0.5em;
}

.container {
    background-color: rgba(249, 208, 208, 0.2);
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 2em;
    border-radius: 17px;
}

.button {
    background-color: #3f3c4f;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    display: block;
    width: 100%;
    padding: 0.7em;
    cursor: pointer;
    border-radius: 17px;
    border: none;
    margin-top: 1em;
}

.button:hover {
    background-color: #564898;
}

.output {
    text-align: center;
    margin-top: 1em;
    padding: 0.75em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 17px;
}

input[type="checkbox"] {
    margin-right: 1em;
}

.userInp {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.75em;
    border-radius: 17px;
    margin-bottom: 0.35em;
}




